ion-content,
ion-grid {
  --ion-background-color: #cef0ea;
  color: black;
}

ion-grid {
  padding: 40px 20px;
}

.banniere {
  background-color: #5ccfbb;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 20vh;
}

.chat-info {
  background-color: #8cddcf;
  padding: 5px 10px;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 5px 0;
}
