<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Messagerie</h1>
  </div>

  <!-- Liste Conversations -->

  <ion-grid [fixed]="true">
    <a href="/chat">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img src="assets/img/categories/categories.jpg" alt="Photo Produit">
        </ion-col>
        <ion-col size="8">
          <div class="chat-info">
            <p>User Pseudo</p>
            <p>Début message xxxxxx ...</p>
            <p>Date Message</p>
          </div>
        </ion-col>
      </ion-row>
    </a>
    <a href="#">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img src="assets/img/categories/categories.jpg" alt="Photo Produit">
        </ion-col>
        <ion-col size="8">
          <div class="chat-info">
            <p>User Pseudo</p>
            <p>Début message xxxxxx ...</p>
            <p>Date Message</p>
          </div>
        </ion-col>
      </ion-row>
    </a>
    <a href="#">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img src="assets/img/categories/categories.jpg" alt="Photo Produit">
        </ion-col>
        <ion-col size="8">
          <div class="chat-info">
            <p>User Pseudo</p>
            <p>Début message xxxxxx ...</p>
            <p>Date Message</p>
          </div>
        </ion-col>
      </ion-row>
    </a>
    <a href="#">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img src="assets/img/categories/categories.jpg" alt="Photo Produit">
        </ion-col>
        <ion-col size="8">
          <div class="chat-info">
            <p>User Pseudo</p>
            <p>Début message xxxxxx ...</p>
            <p>Date Message</p>
          </div>
        </ion-col>
      </ion-row>
    </a>
  </ion-grid>

</ion-content>
