<ion-content [fullscreen]="true">



	<!-- Bannière -->

	<div class="banniere">
		<h1>Gérer mes annonces</h1>
	</div>
  
	<!-- Bouton ajout d'annonce -->

	<ion-grid [fixed]="true">
	  <ion-row class="ion-justify-content-center ion-align-items-center">
		<div class="detail-purchase tri">
		  <a href="/new-ad">Ajouter une annonce</a>
		</div>
	  </ion-row>
	</ion-grid>


	<!-- Liste des commandes -->

	<ion-grid [fixed]="true">

	  <ion-row class="ion-justify-content-center ion-align-items-center">
		<ion-col size="6">
		  <div class="purchase">
			<img src="{{ad_image}}" alt="annonce">
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="price">
			<p>{{product_name}}</p>
			<p>{{product_price_ht}}€</p>
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="detail-purchase">
			<a href="/manage-ad" alt="ad">Gérer</a>
		  </div>
		</ion-col>
	  </ion-row>

	  <ion-row class="ion-justify-content-center ion-align-items-center">
		<ion-col size="6">
		  <div class="purchase">
			<img src="{{ad_image}}" alt="annonce">
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="price">
			<p>{{product_name}}</p>
			<p>{{product_price_ht}} €</p>
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="detail-purchase">
			<a href="/manage-ad" alt="ad">Gérer</a>
		  </div>
		</ion-col>
	  </ion-row>

	  <ion-row class="ion-justify-content-center ion-align-items-center">
		<ion-col size="6">
		  <div class="purchase">
			<img src="{{ad_image}}" alt="annonce">
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="price">
			<p>{{product_name}}</p>
			<p>{{product_price_ht}} €</p>
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="detail-purchase">
			<a href="/manage-ad" alt="ad">Gérer</a>
		  </div>
		</ion-col>
	  </ion-row>

	  <ion-row class="ion-justify-content-center ion-align-items-center">
		<ion-col size="6">
		  <div class="purchase">
			<img src="{{ad_image}}" alt="annonce">
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="price">
			<p>{{product_name}}</p>
			<p>{{product_price_ht}} €</p>
		  </div>
		</ion-col>
		<ion-col size="3">
		  <div class="detail-purchase">
			<a href="/manage-ad" alt="ad">Gérer</a>
		  </div>
		</ion-col>
	  </ion-row>
	</ion-grid>
</ion-content>

<!-- Footer avec bordure Mobile -->
<ion-footer class="ion-no-border footer ion-hide-md-up">
	<ion-toolbar>
		<a href="../home"><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
		<a href="../search"><img src="assets/img/icon/search-solid.svg" alt="search" width="25px"></a>
		<a href="../basket"><img src="assets/img/icon/shopping-basket-solid.svg" alt="basket" width="25px"></a>
		<a href="../purchases"><img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="purchases" width="25px"></a>
		<a href="../profile/informations"><img src="assets/img/icon/user-regular.svg" alt="profile" width="25px"></a>
	</ion-toolbar>
</ion-footer>

<!-- Footer avec bordure Desktop -->
<ion-footer class="ion-no-border footer ion-hide-md-down">
	<ion-toolbar>
		<h6>Brox - Tous droits réservés ®</h6>
	</ion-toolbar>
</ion-footer>