<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Modification du profil</h1>
  </div>

  <div class="wrapper ">
    <div id="formContent">

      <h1 id="inscription">Inscription</h1>

      <!-- Login Form -->
      <form>
        <input type="text" id="nom"  name="nom" placeholder="Nom" #lastname>
        <input type="text" id="prenom"  name="prenom" placeholder="Prénom" #firstname>
        <input type="email" id="email"  name="email" placeholder="Email" #mail>
        <input type="text" id="telephone"  name="telephone" placeholder="Téléphone" #phone>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" #picture>
        <input type="submit"  value="Modifier" onclick="UpdateProfile(lastname.value,firstname.value,mail.value,phone.value,picture.value)">
      </form>
      
    </div>
  </div>
  </ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href=""><img src="assets/icon/home-solid.svg" alt="home" width="25px"></a>
          <img src="assets/icon/search-solid.svg" alt="home" width="25px">
          <img src="assets/icon/shopping-basket-solid.svg" alt="home" width="25px">
          <img src="assets/icon/file-invoice-dollar-solid.svg" alt="home" width="25px">
          <img src="assets/icon/user-regular.svg" alt="home" width="25px">
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>
  