<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Moyen de paiement</h1>
  </div>

  <div class="wrapper ">
    <div id="formContent">

      <h1 class="title">Gérer vos moyens de paiement ici</h1>

      <!-- liste des cartes de crédit enregistrées -->
      <ul>
        <li><img src="assets/img/icon/visa.png" alt="card"> 1234 5896 4789 ***** <a href=""> <img src="assets/img/icon/modify.png" alt="modify"></a> <a href=""><img src="assets/img/icon/bin.png" alt="bin"></a></li>
        <li><img src="assets/img/icon/visa.png" alt="card"> 1234 5896 4789 ***** <a href=""> <img src="assets/img/icon/modify.png" alt="modify"></a> <a href=""><img src="assets/img/icon/bin.png" alt="bin"></a></li>
        <li><img src="assets/img/icon/visa.png" alt="card"> 1234 5896 4789 ***** <a href=""> <img src="assets/img/icon/modify.png" alt="modify"></a> <a href=""><img src="assets/img/icon/bin.png" alt="bin"></a></li>
      </ul>
    </div>
  </div>
  <a class="add-card"  href="" >Ajouter une carte</a>
  </ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href=""><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
          <img src="assets/img/icon/search-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/shopping-basket-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/user-regular.svg" alt="home" width="25px">
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>
  