<ion-content>

  <div class="wrapper ">
    <div id="formContent">

      <h1>Inscription</h1>

      <!-- Login Form -->
      <form [formGroup] = "myForm" (ngSubmit)="onSubmit()">
        <input type="text" id="last_name"  name="last_name" placeholder="Nom" formControlName="last_name">
        <input type="text" id="first_name"  name="first_name" placeholder="Prénom" formControlName="first_name">
        <input type="email" id="email"  name="email" placeholder="Courriel" formControlName="email">
        <input type="password" id="password"  name="password" placeholder="Mot de passe" formControlName="password">
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">Merci de renseigner le mot passe.</div>
      </div>
        <input name="password_confirmation" id="password_confirmation" type="password" placeholder="Confirmation du mot de passe" formControlName="password_confirmation" >
    <div *ngIf="f.password_confirmation.touched && f.password_confirmation.invalid" class="alert alert-danger">
        <div *ngIf="f.password_confirmation.errors.required">Merci de confirmer le mot de passe</div>
        <div *ngIf="f.password_confirmation.errors.confirmedValidator">Le mot de passe et la confirmation du mot de passe doivent être identiques</div>
    </div>
        <input type="text" id="phone_number"  name="phone_number" placeholder="Téléphone" formControlName="phone_number">
        <input type="file" id="profile_image" name="profile_image"  accept="image/png, image/jpeg, image/jpg"(change)="onFileSelect($event)" />
 
        <input type="submit"  value="Je m'inscris">
      </form>

    </div>
  </div>

</ion-content>
