ion-content{
    --ion-background-color: #CEF0EA;
  }

  ion-grid {
    padding: 40px 20px;
}

.banniere {
    background-color: #5CCFBB;
    color: black;
	height: 20vh;
    a img{
        width: 30px;
        height: auto;
        margin-top: 10px;
    }   
}

/* BASIC */

html {
    background-color: #56baed;
  }
  
body {
    min-height: 100vh;
}

h2{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 5%;

}

p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.5vh;
}
  