ion-content, ion-grid {
    --ion-background-color: #CEF0EA;
    color: black;
}

ion-grid {
    padding: 40px 20px;
}

.banniere {
    background-color: #5CCFBB;
    color: black;
    display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 20vh;
}

.product {
    background-color: #5CCFBB;
    padding: 10px;
}

.quantity {
    display: flex;
    justify-content: center;
}
.btn {
	justify-content: space-around;
	display: flex;
}

ion-item {
    width: 80px;
    text-align: center;
    color: black;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    --ion-item-background: transparent;
}

a {
    background-color: #5CCFBB;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 60px;
    transition: 0.5s;
}

a:hover {
    background-color: black;
    color: #5CCFBB;
}

 /* footer */
ion-footer a {
    padding-left: 0px;
    padding-right: 0px;
}

ion-footer a:hover {
    background-color: #fffbfb70;
}