<ion-content [fullscreen]="true">

	 <!-- SEARCH BAR DESKTOP-->
	<ion-toolbar class="ion-hide-md-down">
		<ion-buttons slot="secondary">
			<ion-button color="dark" href="/profile/menu">
			<ion-icon slot="icon-only" name="person-circle"></ion-icon>
			</ion-button>
			<ion-button color="dark">
			<ion-icon slot="icon-only" name="search"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="primary">
			<ion-button color="dark">
			<ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title><img class="brox-little" src="/assets/img/logos/logo-black-text.png" alt="Categories"></ion-title>
	</ion-toolbar>
	

	<!-- Bannière -->
	<div class="banniere">
		<ion-grid>
			<ion-row>
				<ion-col>
					<a (click)="backClicked()"><img src="/assets/img/icon/left-arrow.svg" alt=""></a>
				</ion-col>
				<ion-col>
					<h1>Ajouter une annonce</h1>
				</ion-col>
				</ion-row>
				</ion-grid>
		</div>

	<div class="wrapper ">
		<div id="formContent">
		  <!-- Modifier ses infos Form -->
		  <form [formGroup] = "myForm" (ngSubmit)="onSubmit()">
			<input type="text" id="name" name="name" placeholder="Nom du produit" formControlName="name">
			<div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
				<div *ngIf="f.name.errors.required">Le nom du produit doit être renseigné.</div>
			</div>

			<input type="text" id="description" name="description" placeholder="Description" formControlName="description">
			<div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
				<div *ngIf="f.description.errors.required">La decription du produit doit être renseigné.</div>
				<div *ngIf="f.description.errors.minlength">La decription du produit doit contenir 5 caractères minimum.</div>
			</div>

			<input type="number" id="stock" name="stock" placeholder="Quantité en stock" formControlName="stock">
			<div *ngIf="f.stock.touched && f.stock.invalid" class="alert alert-danger">
				<div *ngIf="f.stock.errors.required">Le nombre de produits disponibles doit être renseigné.</div>
			</div>

			<input type="number" id="price_ht" name="price_ht" placeholder="Prix" formControlName="price_ht">
			<div *ngIf="f.price_ht.touched && f.price_ht.invalid" class="alert alert-danger">
				<div *ngIf="f.price_ht.errors.required">Le prix du produit doit être renseigné.</div>
			</div>

			<input type="file" id="product_image" name="product_image" placeholder="Photos (3 maximum)" accept="image/png, image/jpeg, image/jpg"(change)="onFileSelect($event)"/>
			<input type="submit"  value="Ajouter">
		  </form>
		</div>
	  </div>
</ion-content>


<!-- Footer avec bordure Mobile -->

<ion-footer class="ion-no-border footer ion-hide-md-up">
	<ion-toolbar>
		<a href="../home"><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
		<a href="../search"><img src="assets/img/icon/search-solid.svg" alt="search" width="25px"></a>
		<a href="../basket"><img src="assets/img/icon/shopping-basket-solid.svg" alt="basket" width="25px"></a>
		<a href="../purchases"><img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="purchases" width="25px"></a>
		<a href="../account"><img src="assets/img/icon/user-regular.svg" alt="profile" width="25px"></a>
	</ion-toolbar>
</ion-footer>

<!-- Footer avec bordure Desktop -->
<ion-footer class="ion-no-border footer ion-hide-md-down">
	<ion-toolbar>
		<h6>Brox - Tous droits réservés ®</h6>
	</ion-toolbar>
</ion-footer>
