<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Mot de passe</h1>
  </div>

  <div class="wrapper ">
    <div id="formContent">

      <h1 >Modifier votre ancien mot de passe</h1>
      <p>Attention, cette action est irréversible</p>

      <!-- chage password form -->
      <form>
        <input type="password" id="oldpassword"  name="oldpassword" placeholder="Ancien mot de passe" #oldpassword>
        <input type="password" id="confirmoldpassword"  name="confirmoldpassword" placeholder="Confirmez votre ancien mot de passe" #confirmoldpassword>
        <input type="password" id="newpassword"  name="newpassword" placeholder="Nouveau mot de passe" #newpassword>

        <input type="submit"  value="Modifier" onclick="UpdatePassword(oldpassword.value,confirmoldpassword.value,newpassword.value)">
      </form>
      
    </div>
  </div>
  </ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href=""><img src="assets/icon/home-solid.svg" alt="home" width="25px"></a>
          <img src="assets/icon/search-solid.svg" alt="home" width="25px">
          <img src="assets/icon/shopping-basket-solid.svg" alt="home" width="25px">
          <img src="assets/icon/file-invoice-dollar-solid.svg" alt="home" width="25px">
          <img src="assets/icon/user-regular.svg" alt="home" width="25px">
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>
  