<ion-content [fullscreen]="true">
    <!-- SEARCH BAR DESKTOP-->
    <ion-toolbar class="ion-hide-md-down">
      <ion-buttons slot="secondary">
        <ion-button color="dark" href="/profile/menu">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button color="dark">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="dark">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><img class="brox-little" src="/assets/img/logos/logo-black-text.png" alt="Categories"></ion-title>
    </ion-toolbar>
    <!-- Bannière -->

  <!-- Bannière -->

  <div class="banniere">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a (click)="backClicked()"><img src="/assets/img/icon/left-arrow.svg" alt=""></a>
        </ion-col>
        <ion-col>
      <h1>Mot de passe</h1>
  </ion-col>
  </ion-row>
  </ion-grid>
</div>

  <div class="wrapper ">
    <div id="formContent">

      <h1 >Modifier votre ancien mot de passe</h1>
      <p>Attention, cette action est irréversible</p>

      <!-- chage password form -->
      <form>
        <input type="password" id="oldpassword"  name="oldpassword" placeholder="Ancien mot de passe" #oldpassword>
        <input type="password" id="confirmoldpassword"  name="confirmoldpassword" placeholder="Confirmez votre ancien mot de passe" #confirmoldpassword>
        <input type="password" id="newpassword"  name="newpassword" placeholder="Nouveau mot de passe" #newpassword>

        <input type="submit"  value="Modifier" onclick="UpdatePassword(oldpassword.value,confirmoldpassword.value,newpassword.value)">
      </form>
      
    </div>
  </div>
  </ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href="/home"><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
          <a href="/search"><img src="assets/img/icon/search-solid.svg" alt="search" width="25px"></a>
          <a href="/basket"><img src="assets/img/icon/shopping-basket-solid.svg" alt="basket" width="25px"></a>
          <a href="/purchases"><img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="purchases" width="25px"></a>
          <a href="/account"><img src="assets/img/icon/user-regular.svg" alt="profile" width="25px"></a>
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>