<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <ion-grid>
      <ion-row>
        <ion-col>
          <a (click)="backClicked()"><img src="/assets/img/icon/left-arrow.svg" alt=""></a>
        </ion-col>
        <ion-col>
          <h1>Mon panier</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>

  <h2 *ngIf="basket==null">Il n'y a pas de produits dans votre panier</h2>
  
  <!-- Liste des produits hors stock -->

    <ion-grid [fixed]="true">
      <h2 *ngIf(basketSold)>Produit épuisé</h2>
      <ion-row class="ion-justify-content-center ion-align-items-center" *ngFor="let item of basketSold">
        <ion-col size="6">
          <a [routerLink]="['/product/', item.id]">
          <div class="product">
            {{item.name}}
            </div>
          </a>
            </ion-col>
            <ion-col size="4">
              <div class="quantity">
                <ion-item lines="none" class="ion-no-padding">
                  <ion-button (click)="basketS.removeProductBasket(item.id);updateData()">
                    -
                  </ion-button>
                  <ion-input type="number" value="0"></ion-input>
                  <ion-icon name="add-circle" item-right></ion-icon>
                  </ion-item>
                  </div>
                  </ion-col>
                  <ion-col size="2">
                    <div class="price">
            <p>{{item.price_ht}} €</p>
            </div>
            </ion-col>
            </ion-row>
            <!-- Liste des produits -->
            
            <h2 *ngIf="basket!=null">Récapitulatif du panier</h2>
            <ion-row class="ion-justify-content-center ion-align-items-center" *ngFor="let item of basket; let index = index;">
      <ion-col size="6">
        <a [routerLink]="['/product/', item.id]">
        <div class="product">
          {{item.name}}
        </div>
      </a>
      </ion-col>
      <ion-col size="4">
        <div class="quantity">
          <ion-item lines="none" class="ion-no-padding">
            <ion-button (click)="basketS.removeProductBasket(item.id);updateData()">
              -
            </ion-button>
            <ion-input type="number" [(ngModel)]="values[index]"></ion-input>
            <ion-icon name="add-circle" item-right></ion-icon>
            <ion-button *ngIf="basket==null">
              +
            </ion-button>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="price">
          <p>{{item.price_ht}} €</p>
        </div>
      </ion-col>
    </ion-row>
<ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="basket!=null">
      <ion-col size="6">
        <div class="product">
          TOTAL
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="quantity">
          <p>4</p>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="price">
          <p>100.00 €</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center" *ngIf="basket!=null">
      <button type=“button”><a href=“”>Valider mon panier</a></button>
    </ion-row>
    
  </ion-grid>

</ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href="/home"><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
          <a href="/search"><img src="assets/img/icon/search-solid.svg" alt="search" width="25px"></a>
          <a href="/basket"><img src="assets/img/icon/shopping-basket-solid.svg" alt="basket" width="25px"></a>
          <a href="/purchases"><img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="purchases" width="25px"></a>
          <a href="/account"><img src="assets/img/icon/user-regular.svg" alt="profile" width="25px"></a>
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>