<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Mon Panier</h1>
  </div>

  <!-- Liste des produits -->

  <ion-grid [fixed]="true">
    <h2>Récapitulatif du panier</h2>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6">
        <div class="product">
          Produit 1
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="quantity">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="remove-circle" item-right></ion-icon>
            <ion-input type="number" value="2"></ion-input>
            <ion-icon name="add-circle" item-right></ion-icon>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="price">
          <p>10.00 €</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6">
        <div class="product">
          Produit 2
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="quantity">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="remove-circle" item-right></ion-icon>
            <ion-input type="number" value="1"></ion-input>
            <ion-icon name="add-circle" item-right></ion-icon>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="price">
          <p>50.00 €</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6">
        <div class="product">
          Produit 3
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="quantity">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="remove-circle" item-right></ion-icon>
            <ion-input type="number" value="1"></ion-input>
            <ion-icon name="add-circle" item-right></ion-icon>
          </ion-item>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="price">
          <p>30.00 €</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6">
        <div class="product">
          TOTAL
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="quantity">
          <p>4</p>
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="price">
          <p>100.00 €</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <a href="">Valider mon panier</a>
    </ion-row>
    
  </ion-grid>

</ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href=""><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
          <img src="assets/img/icon/search-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/shopping-basket-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/user-regular.svg" alt="home" width="25px">
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>