ion-content,
ion-grid {
  --ion-background-color: #cef0ea;
  color: black;
}

ion-grid {
  padding: 40px 20px;
}

.banniere {
  background-color: #5ccfbb;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 20vh;
}

.ticket div {
  background-color: #8cddcf;
  padding: 20px;
}

.ticket a {
  text-decoration: none;
  color: black;
}

.button {
  background-color: #8cddcf;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 60px;
  transition: 0.5s;
}

.button:hover {
  background-color: black;
  color: #8cddcf;
}
