<ion-content [fullscreen]="true">
    <!-- SEARCH BAR DESKTOP-->
    <ion-toolbar class="ion-hide-md-down">
      <ion-buttons slot="secondary">
        <ion-button color="dark" href="/profile/menu">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button color="dark">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button color="dark">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title><img class="brox-little" src="/assets/img/logos/logo-black-text.png" alt="Categories"></ion-title>
    </ion-toolbar>
   

  <!-- Bannière -->

  <div class="banniere">
    <h1>Modification de profil</h1>
  </div>

  <!-- Accès Informations Compte -->

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <a class="access-info" href="/profile/informations">Informations personelles</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="/profile/change-password">Mot de passe</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="/profile/credit-card">Moyens de paiement</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="/profile/adresses">Adresse de livraison</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="/profile/?????">Informations pratiques</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="/profile/help">Aides</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href=""><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
          <img src="assets/img/icon/search-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/shopping-basket-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="home" width="25px">
          <img src="assets/img/icon/user-regular.svg" alt="home" width="25px">
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>