<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Modification de profil</h1>
  </div>

  <!-- Accès Informations Compte -->

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <a class="access-info" href="/profile/informations">Informations personelles</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Mot de passe</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Moyen de paiement</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Adresse de livraison</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Informations pratiques</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Aides</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

  <!-- Footer avec bordure Mobile -->
  <ion-footer class="ion-no-border footer ion-hide-md-up">
    <ion-toolbar>
        <a href=""><img src="assets/icon/home-solid.svg" alt="home" width="25px"></a>
        <img src="assets/icon/search-solid.svg" alt="home" width="25px">
        <img src="assets/icon/shopping-basket-solid.svg" alt="home" width="25px">
        <img src="assets/icon/file-invoice-dollar-solid.svg" alt="home" width="25px">
        <img src="assets/icon/user-regular.svg" alt="home" width="25px">
    </ion-toolbar>
  </ion-footer>

  <!-- Footer avec bordure Desktop -->
  <ion-footer class="ion-no-border footer ion-hide-md-down">
    <ion-toolbar>
      <h6>Brox - Tous droits réservés ®</h6>
    </ion-toolbar>
  </ion-footer>
