ion-content,
ion-grid {
  --ion-background-color: #cef0ea;
  color: black;
}

ion-grid {
  padding: 40px 20px;
}

.banniere {
  background-color: #5CCFBB;
  color: black;
height: 20vh;
  a img{
      width: 30px;
      height: auto;
      margin-top: 10px;
  }   
}

.info-produit {
  padding: 10px 20px;
}

.chat-info {
  background-color: #8cddcf;
  padding: 5px 10px;
}

.profile-pic {
  border-radius: 50%;
}

.message {
  padding: 5px 10px;
  margin: 10px 0;
}

.message p {
  margin: 0;
}

.my-message {
  background-color: #8cddcf;
}

.his-message {
  text-align: right;
}

.chat {
  height: 50vh;
  overflow: scroll;
}

.send-message {
  padding: 0 20px;
}

ion-input {
  background-color: white;
}
