<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Messages avec Username</h1>
  </div>

  <ion-grid [fixed]="true" class="info-produit">

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="4">
        <img src="assets/img/categories/categories.jpg" alt="Photo Produit">
      </ion-col>
      <ion-col size="8">
        <div class="chat-info">
          <p>Produit</p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Chat entre deux utilisateurs -->

  <ion-grid [fixed]="true" class="chat">

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img class="profile-pic" src="assets/img/categories/categories.jpg" alt="Photo de profil">
        </ion-col>
        <ion-col size="8">
          <div class="message my-message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan scelerisque sem nec elementum. Donec semper libero finibus leo efficitur.</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="8">
          <div class="message his-message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan scelerisque sem nec elementum. Donec semper libero finibus leo efficitur.</p>
          </div>
        </ion-col>
        <ion-col size="4">
          <img class="profile-pic" src="assets/img/categories/categories.jpg" alt="Photo de profil">
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="8">
          <div class="message his-message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan scelerisque sem nec elementum. Donec semper libero finibus leo efficitur.</p>
          </div>
        </ion-col>
        <ion-col size="4">
          <img class="profile-pic" src="assets/img/categories/categories.jpg" alt="Photo de profil">
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="4">
          <img class="profile-pic" src="assets/img/categories/categories.jpg" alt="Photo de profil">
        </ion-col>
        <ion-col size="8">
          <div class="message my-message">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan scelerisque sem nec elementum. Donec semper libero finibus leo efficitur.</p>
          </div>
        </ion-col>
      </ion-row>

  </ion-grid>

  <!-- Envoyer Message -->

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col size="10">
        <ion-input placeholder="Ecrire un message"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="send"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

