<ion-content>

  <!-- SEARCH BAR -->
  <ion-toolbar>
    <ion-searchbar placeholder="Recherche"></ion-searchbar>
  </ion-toolbar>




<!-- Carrés catégories -->

<div class="scrolling-wrapper">
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
  <a href=""><div class="card"><h3>Catégorie</h3></div></a>
</div>

</ion-content>

<!-- Footer sans bordures -->
<ion-footer class="ion-no-border footer">
  <ion-toolbar>
      <a href=""><img src="assets/icon/home-solid.svg" alt="home" width="25px"></a>
      <img src="assets/icon/search-solid.svg" alt="home" width="25px">
      <img src="assets/icon/shopping-basket-solid.svg" alt="home" width="25px">
      <img src="assets/icon/file-invoice-dollar-solid.svg" alt="home" width="25px">
      <img src="assets/icon/user-regular.svg" alt="home" width="25px">
  </ion-toolbar>
</ion-footer>