<ion-content>

  <!-- SEARCH BAR MOBILE-->
  <ion-toolbar class="ion-hide-md-up">
    <ion-searchbar animated [(ngModel)]="searchName" (keyup)="searchProductByName($event)" autocomplete="off" placeholder="Recherche"></ion-searchbar>
  </ion-toolbar>
  
  <!-- SEARCH BAR DESKTOP-->
  <ion-toolbar class="ion-hide-md-down">
    <ion-buttons slot="secondary">
      <!-- Le lien peut être mis directement de cette façon ( à modifier lorqu'on aura la page profil ) -->
      <ion-button color="dark" href="/home">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button color="dark" href="/search">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><img class="brox-little" src="/assets/img/logos/logo-black-text.png" alt="Categories"></ion-title>
  </ion-toolbar>


  <!--test inifnite scrollbar-->
  <div class="search-results-container" infinite-scroll [scrollWindow]="false" (scrolled)="onScrollDown($event)"
    (scrolledUp)="onScrollUp($event)">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3" *ngFor="let item of listArray">
        <h3 class="ion-text-center">{{item.name}}</h3>
        <a [routerLink]="['/product/', item.id]">
    <div class="card"><img src="http://localhost:8000/product_image/{{item.product_image}}" alt="{{item.name}}"
        max-width="600px" height="auto"></div>
    </a>
    </ion-col>
    </ion-row>
    </ion-grid>
</div>

<!-- Carrés catégories -->
<ion-grid>
  <ion-row class="">
    <ion-col size="6" size-md="3" *ngFor="let category of categories">
      <h3 class="ion-text-center">{{category.name}}</h3>
      <a [routerLink]="['/search-cat/', category.id]">
      <div class="card"><img src="{{category.image}}" alt="Categories" max-width="600px" height="auto"></div>
    </a>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>

    <!-- Footer avec bordure Mobile -->
    <ion-footer class="ion-no-border footer ion-hide-md-up">
      <ion-toolbar>
          <a href="/home"><img src="assets/img/icon/home-solid.svg" alt="home" width="25px"></a>
          <a href="/search"><img src="assets/img/icon/search-solid.svg" alt="search" width="25px"></a>
          <a href="/basket"><img src="assets/img/icon/shopping-basket-solid.svg" alt="basket" width="25px"></a>
          <a href="/purchases"><img src="assets/img/icon/file-invoice-dollar-solid.svg" alt="purchases" width="25px"></a>
          <a href="/account"><img src="assets/img/icon/user-regular.svg" alt="profile" width="25px"></a>
      </ion-toolbar>
    </ion-footer>
  
    <!-- Footer avec bordure Desktop -->
    <ion-footer class="ion-no-border footer ion-hide-md-down">
      <ion-toolbar>
        <h6>Brox - Tous droits réservés ®</h6>
      </ion-toolbar>
    </ion-footer>