<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Mes commandes</h1>
  </div>

  <!-- Liste des commandes -->

  <ion-grid [fixed]="true">
    <h2>Commande n° xxx du 05/01/2021</h2>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6">
        <div class="purchase">
          Commande 1
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="detail-purchase">
          <a href="">Détails</a>
        </div>
      </ion-col>
    </ion-row>
    <h2>Commande n° xxx du 28/12/2020</h2>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6">
        <div class="purchase">
          Commande 2
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="detail-purchase">
          <a href="">Détails</a>
        </div>
      </ion-col>
    </ion-row>
    <h2>Commande n° xxx du 10/12/2020</h2>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="6">
        <div class="purchase">
          Commande 3
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="detail-purchase">
          <a href="">Détails</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
