<ion-content [fullscreen]="true">

  <!-- Bannière -->

  <div class="banniere">
    <h1>Mon compte</h1>
  </div>

  <!-- Accès Informations Compte -->

  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <a class="access-info" href="">Mon profil</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Mes annonces</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Mes commandes</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Messagerie</a>
      </ion-col>
      <ion-col size="12">
        <a class="access-info" href="">Tickets</a>
      </ion-col>
      <ion-col size="6">
        <a class="access-info" href="">Favoris</a>
      </ion-col>
      <ion-col size="6">
        <a class="access-info" href="">Supprimer compte</a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
